* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg {
  min-height: 100vh;
}

.bg-desktop, .bg-tablet {
  display: none !important;
}

.bg-phone {
  display: block !important;
}


@media (min-width: 601px) {
  .bg-desktop, .bg-phone {
  display: none !important;
}
.bg-tablet {
  display: block !important;
}
}

@media (min-width: 1024px) {
  .bg-tablet, .bg-phone {
    display: none !important;
  }
  .bg-desktop {
    display: block !important;
  }
}